[*.{cs,vb}]

# IDE0049: Simplify Names
dotnet_diagnostic.IDE0049.severity = none

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0057: Use range operator
csharp_style_prefer_range_operator = false:suggestion

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false:suggestion

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = error
